.button {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 0.28rem;
}

.icon {
  width: 4rem;
  height: 4rem;
  position: relative;
}

.title {
  color: #f1ede4;
  text-align: center;
  font-size: 0.8998rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (min-width: $breakpoint-md) {
  .button {
    gap: 0.5rem;
  }
  .icon {
    width: 6.5rem;
    height: 6.5rem;
  }
  .title {
    font-size: 1.2rem;
  }
}
@media (min-width: $breakpoint-xl) {
  .button {
    gap: 0.5rem;
  }

  .icon {
    width: 8rem;
    height: 8rem;
  }

  .title {
    font-size: 1.6rem;
  }
}
