.section {
  padding-top: 10rem;
}

.list {
  display: grid;
  gap: 3rem;
}

@media (min-width: $breakpoint-md) {
  .section {
    padding-top: 12.5rem;
  }
  .list {
    grid-template-columns: repeat(2, 1fr);
    gap: 4.5rem 2rem;
  }
  .item {
    &:nth-child(1) {
      grid-column: 1 / 3;
    }
  }
}
@media (min-width: $breakpoint-xl) {
  .section {
    padding-top: 20rem;
  }
  .list {
    grid-template-columns: repeat(3, 1fr);
    gap: 10rem 4rem;
  }
  .item {
    &:nth-child(1) {
      grid-column: 1 / 4;
    }
  }
}
