.switcher {
  position: relative;
  cursor: pointer;
  &.active {
    .dropdown {
      opacity: 1;
      pointer-events: all;
    }
  }
}

.current {
  color: #f1ede4;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  svg {
    width: 0.8rem;
    height: 0.8rem;
  }
}

.dropdown {
  position: absolute;
  top: calc(100% + 1rem);
  left: 0;
  color: #f1ede4;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
  border-radius: 0.3rem;
  border: 1px solid #f1ede4;
  padding: 0.5rem 1rem;
  display: grid;
  gap: 0.5rem;
}

@media (min-width: $breakpoint-md) {
  .switcher {
    margin-right: 4rem;
  }
  .current {
    font-size: 1.4rem;
  }
  .dropdown {
    font-size: 1.4rem;
  }
}
@media (min-width: $breakpoint-xl) {
  .switcher {
    margin-right: 0;
  }
  .current {
    font-size: 1.6rem;
  }
  .dropdown {
    font-size: 1.6rem;
  }
}
